force-app/main/default/flows/Check_if_task_is_late.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Tâche sen retard</description>
        <name>Tache_en_retard</name>
        <label>Tâche en retard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tache_en_retard_label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_de_fin__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.current_Date_time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_ok_Task</targetReference>
            </connector>
            <label>Tâche en retard</label>
        </rules>
    </decisions>
    <description>Vérifier si un tâche en retard :  elle a le statut en cours alors que la date de fin est inférieure à la date du jour</description>
    <environments>Default</environments>
    <formulas>
        <description>Difference between  endDate and current Date of Task</description>
        <name>Difference_Between_endDate_currentDate</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$Record.Date_de_fin__c}) - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>current date time</description>
        <name>Today_Date_time</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Check if task is late {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if task is late</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update status of task if end date of task is lower than current date</description>
        <name>Update_status_ok_Task</name>
        <label>Update status ok Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En attente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspendu</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_de_fin__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Today_Date_time</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En retard</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tache_en_retard</targetReference>
        </connector>
        <object>Tache__c</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-02-27</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
