force-app/main/default/flows/Cr_er_Saisie_de_temps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Statut_de_la_tache_est_termin_e</name>
        <label>Statut de la tache est terminée ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Creation_SDT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Tache.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>messages</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_de_lheure</name>
        <label>Vérification de l&apos;heure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Hors_horaires</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hors horaires</defaultConnectorLabel>
        <rules>
            <name>Matin_09h_13h</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Heuredebut</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Heurefin</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statut_de_la_tache_est_termin_e</targetReference>
            </connector>
            <label>Matin 09h-13h</label>
        </rules>
        <rules>
            <name>Apres_Midi_14h_18h</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Heuredebut</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Heurefin</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statut_de_la_tache_est_termin_e</targetReference>
            </connector>
            <label>Après Midi 14h-18h</label>
        </rules>
    </decisions>
    <decisions>
        <description>La date de début et de fin de la saisie de temps doit être compris dans l&apos;intervalle de temps</description>
        <name>Verifie_intervalle</name>
        <label>Vérifié intervalle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Msg_d_erreur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exclu</defaultConnectorLabel>
        <rules>
            <name>Inclu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateDebutSaisie</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getIntervalle_de_temps.Date_de_debut__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateFinSaisie</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getIntervalle_de_temps.Date_de_fin__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateDebutSaisie</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateFinSaisie</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateDebutSaisie</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verification_de_lheure</targetReference>
            </connector>
            <label>Inclu</label>
        </rules>
        <rules>
            <name>Difference_de_date_d_but_fin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateDebutSaisie</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DateFinSaisie</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_debut_diff_Date_de_fin</targetReference>
            </connector>
            <label>Différence de date début &amp; fin</label>
        </rules>
        <rules>
            <name>Today_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DateDebutSaisie</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>erreurToday_1</targetReference>
            </connector>
            <label>Today + 1</label>
        </rules>
    </decisions>
    <description>Ce flow permet de créer une saisie de temps de façon optimiser</description>
    <environments>Default</environments>
    <formulas>
        <name>DateDebutSaisie</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Heure_dedebut})</expression>
    </formulas>
    <formulas>
        <name>DateFinSaisie</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Heure_defin})</expression>
    </formulas>
    <formulas>
        <name>Heuredebut</name>
        <dataType>Number</dataType>
        <expression>(
  {!Heure_dedebut}
  - DATETIMEVALUE( DATEVALUE({!Heure_dedebut}) )
) * 24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Heurefin</name>
        <dataType>Number</dataType>
        <expression>(
  {!Heure_defin}
  - DATETIMEVALUE( DATEVALUE({!Heure_defin}) )
) * 24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Cée {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Créer Saisie de temps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Création du temps passé sur la tâche</description>
        <name>Creation_SDT</name>
        <label>Creation SDT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feuille_de_temps__c</field>
            <value>
                <elementReference>getIntervalle_de_temps.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heure_de_debut__c</field>
            <value>
                <elementReference>Heure_dedebut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heure_de_fin__c</field>
            <value>
                <elementReference>Heure_defin</elementReference>
            </value>
        </inputAssignments>
        <object>Saisie_de_temps__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Récupération de la tâche associée à l&apos;intervalle de temps</description>
        <name>get_Tache</name>
        <label>get Tâche</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Saisie_de_temps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getIntervalle_de_temps.Tache__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tache__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Récupération de l&apos;intervalle qui va permettre de saisir le temps</description>
        <name>getIntervalle_de_temps</name>
        <label>getIntervalle de temps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Tache</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Intervalle_de_temps__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Date_debut_diff_Date_de_fin</name>
        <label>Date début diff Date de fin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Saisie_de_temps</targetReference>
        </connector>
        <fields>
            <name>mess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;⚠️&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;La date de début &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!DateDebutSaisie}&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;, ne doit pas être différente de la date de fin &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!DateFinSaisie}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>erreurToday_1</name>
        <label>erreurToday + 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Saisie_de_temps</targetReference>
        </connector>
        <fields>
            <name>mesg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(237, 17, 17);&quot;&gt;La date ne peut pas être postérieure à aujourd&apos;hui.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hors_horaires</name>
        <label>Hors horaires</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Saisie_de_temps</targetReference>
        </connector>
        <fields>
            <name>HeureErrer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;❌ Les heures autorisées sont : &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;🕘&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(6, 170, 85);&quot;&gt;09h – 13h&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;🕑 &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(6, 170, 85);&quot;&gt;14h – 18h&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(6, 170, 85);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La saisie ne doit pas chevaucher la pause &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(238, 12, 12);&quot;&gt;13h–14h.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>messages</name>
        <label>message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Cette tâche a le statut terminé, je vous prie de contacter l&apos;admin&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Msg_d_erreur</name>
        <label>Msg d&apos;erreur</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Saisie_de_temps</targetReference>
        </connector>
        <fields>
            <name>erreur</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;❌ &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;La période saisie doit être comprise entre &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(237, 17, 17);&quot;&gt;{!getIntervalle_de_temps.Date_de_debut__c}&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; et &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(237, 17, 17);&quot;&gt;{!getIntervalle_de_temps.Date_de_fin__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Saisie_de_temps</name>
        <label>Saisie de temps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verifie_intervalle</targetReference>
        </connector>
        <fields>
            <name>Attention</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;⚠️ &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Veuillez actualiser votre page après la création pour visualiser les nouvelles données.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informations</name>
            <fieldText>Informations</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tache</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Tâche:&lt;/strong&gt; {!get_Tache.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Heure_dedebut</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Heure de début</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Heure_defin</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Heure de fin</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Feuilledetemps</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Feuille de temps:&lt;/strong&gt; {!getIntervalle_de_temps.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DateDebut</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Du: &lt;/strong&gt;{!getIntervalle_de_temps.Date_de_debut__c} &lt;strong style=&quot;font-size: 14px;&quot;&gt;au &lt;/strong&gt;{!getIntervalle_de_temps.Date_de_fin__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getIntervalle_de_temps</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HeureD</name>
        <dataType>Time</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
