force-app/main/default/flows/Demande_de_cong.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_SendNotificationValidated</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Dates_valides</name>
        <label>Dates valides</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Erreur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_de_fin</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Date_de_d_but</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSolde_conge</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solde_suffisant</name>
        <label>Solde suffisant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Solde_Insuffisant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNbJours</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarSolde</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_ation_de_la_demande</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <description>Ce flux permet de faire les demande de congé</description>
    <dynamicChoiceSets>
        <name>TypeConge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_Conge__c</picklistField>
        <picklistObject>Demande_de_Conge__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Fml_NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Nom de la demande: &quot;&amp;{!Cr_ation_de_la_demande.Name}&amp;BR()&amp;
&quot;Demandeur: &quot;&amp;{!Cr_ation_de_la_demande.CreatedBy.FirstName}&amp;&quot; &quot;&amp;{!Cr_ation_de_la_demande.CreatedBy.LastName}&amp;BR()&amp;
&quot;Créé le : &quot;&amp;TEXT({!Cr_ation_de_la_demande.CreatedDate})</expression>
    </formulas>
    <formulas>
        <description>Calcul du nombre de jour</description>
        <name>VarNbJours</name>
        <dataType>Number</dataType>
        <expression>{!Date_de_fin} - {!Date_de_d_but} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Demande de congé {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demande de congé</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cr_ation_de_la_demande</name>
        <label>Création de la demande</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_de_la_creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_debut__c</field>
            <value>
                <elementReference>Date_de_d_but</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_fin__c</field>
            <value>
                <elementReference>Date_de_fin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_jours__c</field>
            <value>
                <elementReference>VarNbJours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solde_Avant__c</field>
            <value>
                <elementReference>VarSolde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Soumis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Conge__c</field>
            <value>
                <elementReference>Type_Conge</elementReference>
            </value>
        </inputAssignments>
        <object>Demande_de_Conge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getManager</name>
        <label>getManager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ressource_humaine</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotification</name>
        <label>getNotification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_RH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSolde_conge</name>
        <label>getSolde congé</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Solde_suffisant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employe__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>Solde_Conge__c</object>
        <outputAssignments>
            <assignToReference>VarSolde</assignToReference>
            <field>Solde_Disponible__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getManager.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>VarUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation_de_la_creation</name>
        <label>Confirmation de la création</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getNotification</targetReference>
        </connector>
        <fields>
            <name>msgConf</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 173, 24); font-size: 16px;&quot;&gt;Votre demande de congé a été soumis aux validateurs &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_demande_conge</name>
        <label>Ecran demande congé</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dates_valides</targetReference>
        </connector>
        <fields>
            <name>titre</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Veuillez renseigner votre période de congé&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_de_d_but</name>
            <dataType>Date</dataType>
            <fieldText>Date de début</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_de_fin</name>
            <dataType>Date</dataType>
            <fieldText>Date de fin</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type_Conge</name>
            <choiceReferences>TypeConge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type Congé</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erreur</name>
        <label>Erreur</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errors</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(231, 10, 10);&quot;&gt;La date de fin doit être supérieure à la date de début&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Solde_Insuffisant</name>
        <label>Solde Insuffisant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(240, 14, 14);&quot;&gt;Solde insuffisant pour cette demande&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ecran_demande_conge</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Subflow_SendNotificationValidated</name>
        <label>Subflow_SendNotificationValidated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Subflow_CreateCustomNotification</flowName>
        <inputAssignments>
            <name>ColUsersIds</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_CustomNotificationId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_NotificationBody</name>
            <value>
                <elementReference>Fml_NotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_NotificationTitle</name>
            <value>
                <elementReference>Fml_NotificationSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_TargetId</name>
            <value>
                <elementReference>Cr_ation_de_la_demande.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Fml_NotificationSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Demande de congé&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSolde</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
