force-app/main/default/flows/Diagram_Gantt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Diagram Gantt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Diagram Gantt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ProjetEnCours</name>
        <label>Projet en cours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IdProjet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Projet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Taches_Associe_au_projet</name>
        <label>Taches Associe au projet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EcranDiagram</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Projet__c</field>
            <operator>In</operator>
            <value>
                <elementReference>IdProjet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tache__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EcranDiagram</name>
        <label>EcranDiagram</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CalendrierTache</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Tache__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>R</typeName>
                <typeValue>Projet__c</typeValue>
            </dataTypeMappings>
            <extensionName>avcmpbuilder:scheduler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>systemContext</name>
                <value>
                    <stringValue>{&quot;apiName&quot;:&quot;2b1eaf86-c281-41f0-9dfa-936da90de662&quot;,&quot;flowId&quot;:&quot;{!$Flow.InterviewGuid}&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsTypeSelected</name>
                <value>
                    <stringValue>variables</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventsDisplayFieldsSerialized</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Statut&quot;,&quot;value&quot;:&quot;Statut__c&quot;,&quot;variant&quot;:&quot;standard&quot;},{&quot;label&quot;:&quot;Evolution&quot;,&quot;value&quot;:&quot;progression__c&quot;,&quot;variant&quot;:&quot;standard&quot;},{&quot;value&quot;:&quot;Date_debut__c&quot;},{&quot;value&quot;:&quot;Date_de_fin__c&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourcesSObject</name>
                <value>
                    <elementReference>ProjetEnCours</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourcesSObjectApiName</name>
                <value>
                    <stringValue>Projet__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventsSObject</name>
                <value>
                    <elementReference>Taches_Associe_au_projet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventsSObjectApiName</name>
                <value>
                    <stringValue>Tache__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourcesSObjectMapping</name>
                <value>
                    <stringValue>{&quot;label&quot;:&quot;{{Record.Name}}&quot;,&quot;avatarFallbackIconName&quot;:&quot;action:add_contact&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventsSObjectMapping</name>
                <value>
                    <stringValue>{&quot;title&quot;:&quot;{{Record.Name}}&quot;,&quot;resourceNames&quot;:&quot;{{Record.Projet__c}}&quot;,&quot;startDate&quot;:&quot;{{Record.Date_debut__c}}&quot;,&quot;endDate&quot;:&quot;{{Record.Date_de_fin__c}}&quot;,&quot;color&quot;:&quot;{{Record.Color_Variant__c}}&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toolbarAvatarSerialized</name>
                <value>
                    <stringValue>{&quot;fallbackIconName&quot;:&quot;standard:account&quot;,&quot;variant&quot;:&quot;circle&quot;,&quot;size&quot;:&quot;x-large&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toolbarTitle</name>
                <value>
                    <stringValue>Planning Des Taches En Cours </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toolbarActionsSerialized</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Nouvelle Tache &quot;,&quot;name&quot;:&quot;nouvelleTache&quot;,&quot;iconName&quot;:&quot;utility:add&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inlineStyle</name>
                <value>
                    <stringValue>--avonni-scheduler-event-label-text-color: #2e2e2e; --avonni-scheduler-past-event-label-text-color: #2e2e2e; --avcmpbuilder-scheduler-toolbar-color-background: var(--lwc-colorBackground, #f3f2f2);</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventsTheme</name>
                <value>
                    <stringValue>rounded</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eventsPalette</name>
                <value>
                    <stringValue>nightfall</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterMenuAttributes</name>
                <value>
                    <stringValue>{}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextMenuEventActionsSerialized</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Edit&quot;,&quot;name&quot;:&quot;edit&quot;,&quot;iconName&quot;:&quot;utility:brush&quot;},{&quot;label&quot;:&quot;View&quot;,&quot;name&quot;:&quot;view&quot;,&quot;iconName&quot;:&quot;utility:target_mode&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evtEventActionClick</name>
                <value>
                    <stringValue>[{&quot;targetName&quot;:&quot;edit&quot;,&quot;type&quot;:&quot;NavigationMixinNavigate&quot;,&quot;navigationMixinNavigateType&quot;:&quot;standard__recordPage&quot;,&quot;navigationMixinNavigateRecordPageObjectApiName&quot;:&quot;Tache__c&quot;,&quot;navigationMixinNavigateRecordPageRecordId&quot;:&quot;{{Record.Id}}&quot;,&quot;navigationMixinNavigateRecordPageActionName&quot;:&quot;edit&quot;},{&quot;targetName&quot;:&quot;view&quot;,&quot;type&quot;:&quot;NavigationMixinNavigate&quot;,&quot;navigationMixinNavigateType&quot;:&quot;standard__recordPage&quot;,&quot;navigationMixinNavigateRecordPageObjectApiName&quot;:&quot;Tache__c&quot;,&quot;navigationMixinNavigateRecordPageRecordId&quot;:&quot;{{Record.Id}}&quot;,&quot;navigationMixinNavigateRecordPageActionName&quot;:&quot;view&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evtToolbarActionClick</name>
                <value>
                    <stringValue>[{&quot;targetName&quot;:&quot;nouvelleTache&quot;,&quot;type&quot;:&quot;NavigationMixinNavigate&quot;,&quot;navigationMixinNavigateType&quot;:&quot;standard__objectPage&quot;,&quot;navigationMixinNavigateObjectPageObjectApiName&quot;:&quot;Tache__c&quot;,&quot;navigationMixinNavigateObjectPageActionName&quot;:&quot;new&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedDisplay</name>
                <value>
                    <stringValue>agenda</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimeSpan</name>
                <value>
                    <stringValue>Standard.Scheduler.WeekTimeSpan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableDaysOfTheWeek</name>
                <value>
                    <stringValue>[5,4,3,2,1]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableTimeFrames</name>
                <value>
                    <stringValue>[&quot;07:00:00.000-19:00:00.000&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sidePanelAttributes</name>
                <value>
                    <stringValue>{&quot;position&quot;:&quot;left&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evtDragNewEvent</name>
                <value>
                    <stringValue>[{&quot;type&quot;:&quot;NavigationMixinNavigate&quot;,&quot;navigationMixinNavigateType&quot;:&quot;standard__objectPage&quot;,&quot;navigationMixinNavigateObjectPageObjectApiName&quot;:&quot;Tache__c&quot;,&quot;navigationMixinNavigateObjectPageActionName&quot;:&quot;new&quot;,&quot;navigationMixinNavigateObjectPagePrefilledValues&quot;:[{&quot;fieldApiName&quot;:&quot;Date_debut__c&quot;,&quot;value&quot;:&quot;{{EmptySpot.StartDateTime}}&quot;},{&quot;fieldApiName&quot;:&quot;Date_de_fin__c&quot;,&quot;value&quot;:&quot;{{EmptySpot.EndDateTime}}&quot;}]}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evtDragEvent</name>
                <value>
                    <stringValue>[{&quot;type&quot;:&quot;UpdateRecords&quot;,&quot;updateRecordsSuccessNextInteractions&quot;:[{&quot;showToastEventTitle&quot;:&quot;Tache Modifié&quot;,&quot;showToastEventMessage&quot;:&quot;Tache Modifié avec succès &quot;,&quot;type&quot;:&quot;ShowToastEvent&quot;,&quot;showToastEventVariant&quot;:&quot;success&quot;}],&quot;updateRecordsErrorNextInteractions&quot;:[{&quot;showToastEventTitle&quot;:&quot;Erreur Modification&quot;,&quot;showToastEventMessage&quot;:&quot;Votre Modification n&apos;a pas été prise en compte &quot;,&quot;type&quot;:&quot;ShowToastEvent&quot;,&quot;showToastEventVariant&quot;:&quot;error&quot;}]}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProjetEnCours</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>IdProjet</name>
        <label>IdProjet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Taches_Associe_au_projet</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ProjetEnCours[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>collectionProjet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
