force-app/main/default/flows/kanbanNewError.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>kanbanNew {!$Flow.CurrentDateTime}</interviewLabel>
    <label>kanbanNewError</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Projet1</name>
        <label>Projet1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EcrenKanban</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EcrenKanban</name>
        <label>TERTZ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>YTESJS</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>avcmpbuilder:kanban</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>systemContext</name>
                <value>
                    <stringValue>{&quot;apiName&quot;:&quot;60961206-ccde-4ca3-827e-66230d6b7e6a&quot;,&quot;flowId&quot;:&quot;{!$Flow.InterviewGuid}&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsTypeSelected</name>
                <value>
                    <stringValue>variables</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsSObject</name>
                <value>
                    <elementReference>Projet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsSObjectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsSObjectMapping</name>
                <value>
                    <stringValue>{&quot;keyField&quot;:&quot;{{Record.Id}}&quot;,&quot;groupFieldName&quot;:&quot;{{Record.StageName}}&quot;,&quot;summarizeAttributes&quot;:&quot;{{Record.Amount}}&quot;,&quot;cardAttributes&quot;:{&quot;title&quot;:&quot;{{Record.Name}}&quot;,&quot;dueDate&quot;:&quot;{{Record.CloseDate}}&quot;}}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evtItemDrop</name>
                <value>
                    <stringValue>[{&quot;type&quot;:&quot;UpdateRecords&quot;,&quot;updateRecordsSuccessNextInteractions&quot;:[{&quot;showToastEventTitle&quot;:&quot;SSSSS&quot;,&quot;showToastEventMessage&quot;:&quot;SSSSS&quot;,&quot;type&quot;:&quot;ShowToastEvent&quot;,&quot;showToastEventVariant&quot;:&quot;success&quot;}],&quot;updateRecordsErrorNextInteractions&quot;:[{&quot;showToastEventTitle&quot;:&quot;EEEEEEEE&quot;,&quot;showToastEventMessage&quot;:&quot;EEEEEEEE&quot;,&quot;type&quot;:&quot;ShowToastEvent&quot;,&quot;showToastEventVariant&quot;:&quot;error&quot;}]}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Projet1</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
