force-app/main/default/flows/Kanban_View.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Kanban View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Kanban View</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ListeProjet</name>
        <label>ListeProjet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KANBANVIEW</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Projet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>KANBANVIEW</name>
        <label>KANBANVIEW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VueKanban</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Projet__c</typeValue>
            </dataTypeMappings>
            <extensionName>avcmpbuilder:kanban</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>systemContext</name>
                <value>
                    <stringValue>{&quot;apiName&quot;:&quot;ef3ce3d4-eaf7-4a34-8302-ef8e39a7ce60&quot;,&quot;flowId&quot;:&quot;{!$Flow.InterviewGuid}&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsTypeSelected</name>
                <value>
                    <stringValue>variables</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>List Des Projets Selon leurs status </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerAvatar</name>
                <value>
                    <stringValue>{&quot;fallbackIconName&quot;:&quot;standard:activation_target&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerIsJoined</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerActionsSerialized</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;New&quot;,&quot;name&quot;:&quot;new&quot;,&quot;iconName&quot;:&quot;action:new&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsSObject</name>
                <value>
                    <elementReference>ListeProjet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsSObjectApiName</name>
                <value>
                    <stringValue>Projet__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemsSObjectMapping</name>
                <value>
                    <stringValue>{&quot;groupFieldName&quot;:&quot;{{Record.Statut__c}}&quot;,&quot;summarizeAttributes&quot;:&quot;{{Record.actual_cost__c}}&quot;,&quot;cardAttributes&quot;:{&quot;linkify&quot;:true,&quot;title&quot;:&quot;{{Record.Name}}&quot;,&quot;startDate&quot;:&quot;{{Record.startDate__c}}&quot;,&quot;dueDate&quot;:&quot;{{Record.endDate__c}}&quot;,&quot;customFields&quot;:[&quot;health_project__c&quot;,&quot;Icone_Evolution__c&quot;,&quot;budget_c__c&quot;,&quot;actual_cost__c&quot;,&quot;ecart_budg_taire__c&quot;,&quot;Countdown__c&quot;,&quot;startDate__c&quot;,&quot;endDate__c&quot;,&quot;Statut__c&quot;,&quot;total_taches__c&quot;,&quot;Tasks_in_progress__c&quot;,&quot;completed_tasks__c&quot;,&quot;overdueTasks__c&quot;]}}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldAttributes</name>
                <value>
                    <stringValue>{&quot;variant&quot;:&quot;label-inline&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOrderDirection</name>
                <value>
                    <stringValue>{&quot;direction&quot;:&quot;custom&quot;,&quot;customValue&quot;:[&quot;Terminé&quot;,&quot;En cours&quot;,&quot;Stand by&quot;,&quot;Annulé&quot;]}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterMenuAttributes</name>
                <value>
                    <stringValue>{}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evtHeaderActionClick</name>
                <value>
                    <stringValue>[{&quot;targetName&quot;:&quot;new&quot;,&quot;type&quot;:&quot;NavigationMixinNavigate&quot;,&quot;navigationMixinNavigateType&quot;:&quot;standard__objectPage&quot;,&quot;navigationMixinNavigateTarget&quot;:&quot;_self&quot;,&quot;navigationMixinNavigateObjectPageObjectApiName&quot;:&quot;Projet__c&quot;,&quot;navigationMixinNavigateObjectPageActionName&quot;:&quot;new&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inlineStyle</name>
                <value>
                    <stringValue>--avcmpbuilder-primitive-global-header-color-background: #e5e5e5; --avcmpbuilder-primitive-global-header-color-border: #181818; --avcmpbuilder-primitive-global-header-title-text-color: #181818; display: block; margin-top: -0.75rem; width: 100%; --avcmpbuilder-bc-kanban-column-sizing-min-width: 0px; --avcmpbuilder-bc-kanban-column-sizing-max-width: 100%; height: 800px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchEngineAttributes</name>
                <value>
                    <stringValue>{&quot;position&quot;:&quot;left&quot;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showItemCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evtItemDrop</name>
                <value>
                    <stringValue>[{&quot;type&quot;:&quot;UpdateRecords&quot;,&quot;updateRecordsSuccessNextInteractions&quot;:[{&quot;showToastEventTitle&quot;:&quot;Modification&quot;,&quot;showToastEventMessage&quot;:&quot;Votre Modification a bien été prise en compte &quot;,&quot;type&quot;:&quot;ShowToastEvent&quot;,&quot;showToastEventVariant&quot;:&quot;success&quot;}],&quot;updateRecordsErrorNextInteractions&quot;:[{&quot;showToastEventTitle&quot;:&quot;Erreur De mise à jour &quot;,&quot;showToastEventMessage&quot;:&quot;Votre modification n&apos;a pas été prise en compte &quot;,&quot;type&quot;:&quot;ShowToastEvent&quot;,&quot;showToastEventVariant&quot;:&quot;error&quot;}]}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ListeProjet</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
