force-app/main/default/flows/Sommer_les_totaux_des_t_ches.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Update les tâches terminées</description>
        <name>Add_to_complete</name>
        <label>Add to complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTerminees</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>browse_all_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>mettre la valeur pas défaut pour le total des variables</description>
        <name>mettre_la_valeur_pas_d_faut_pour_le_total_des_variables</name>
        <label>mettre la valeur pas défaut pour le total des variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>browse_all_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update delated Tasks</description>
        <name>Update_som_of_delay_tasks</name>
        <label>Update var  sum  of delay tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEnRetard</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>browse_all_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update  tâches en cours</description>
        <name>Update_somme_taches_en_cours</name>
        <label>Update  var somme  des  tâches en cours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEnCours</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>browse_all_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update somme des tâches en attente</description>
        <name>Update_var_somme_des_t_ches_en_attente</name>
        <label>Update var  somme des tâches en attente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEnAttente</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>browse_all_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update  var sommes des tâches annulees</description>
        <name>Update_var_sommes_des_t_ches_annulees</name>
        <label>Update  var sommes des tâches annulees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTacheAnnulee</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>browse_all_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update sommes des tâches suspendues</description>
        <name>Update_var_sommes_des_t_ches_suspendues</name>
        <label>Update  var sommes des tâches suspendues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSuspendues</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>browse_all_tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check all Tasks</description>
        <name>Check_all_Tasks</name>
        <label>Check all Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>browse_all_tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terminees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>browse_all_tasks.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_complete</targetReference>
            </connector>
            <label>Terminées</label>
        </rules>
        <rules>
            <name>En_cours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>browse_all_tasks.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_somme_taches_en_cours</targetReference>
            </connector>
            <label>En cours</label>
        </rules>
        <rules>
            <name>En_retard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>browse_all_tasks.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En retard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_som_of_delay_tasks</targetReference>
            </connector>
            <label>En retard</label>
        </rules>
        <rules>
            <name>EnAttente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>browse_all_tasks.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En attente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_somme_des_t_ches_en_attente</targetReference>
            </connector>
            <label>EnAttente</label>
        </rules>
        <rules>
            <name>Suspendues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>browse_all_tasks.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspendu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_sommes_des_t_ches_suspendues</targetReference>
            </connector>
            <label>Suspendues</label>
        </rules>
        <rules>
            <name>Annulees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>browse_all_tasks.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annulé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_var_sommes_des_t_ches_annulees</targetReference>
            </connector>
            <label>Annulees</label>
        </rules>
    </decisions>
    <decisions>
        <description>Vérifier si une tâche est trouvée</description>
        <name>Verifier_si_une_teche_est_trouvee</name>
        <label>Vérifier si une tâche est trouvée</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Tâches non trouvees</defaultConnectorLabel>
        <rules>
            <name>Taches_trouvees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_tasks_linked_to_projects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mettre_la_valeur_pas_d_faut_pour_le_total_des_variables</targetReference>
            </connector>
            <label>Si Taches trouvees</label>
        </rules>
    </decisions>
    <description>Sommer les totaux des tâches</description>
    <environments>Default</environments>
    <interviewLabel>Sommer les totaux des tâches {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sommer les totaux des tâches</label>
    <loops>
        <description>loop all Tasks browse all tasks</description>
        <name>browse_all_tasks</name>
        <label>browse all tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_tasks_linked_to_projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_all_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Totaux_of_project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all Tasks</description>
        <name>Get_All_tasks_linked_to_projects</name>
        <label>Get All  tasks linked to projects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verifier_si_une_teche_est_trouvee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Projet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projet__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tache__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Totaux of project</description>
        <name>Update_Totaux_of_project</name>
        <label>Update Totaux of project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Tasks_in_progress__c</field>
            <value>
                <elementReference>varEnCours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_des_t_ches_annul_es__c</field>
            <value>
                <elementReference>varTacheAnnulee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_des_taches_en_attente__c</field>
            <value>
                <elementReference>varEnAttente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_des_taches_suspendues__c</field>
            <value>
                <elementReference>varSuspendues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>completed_tasks__c</field>
            <value>
                <elementReference>varTerminees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>overdueTasks__c</field>
            <value>
                <elementReference>varEnRetard</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>total_taches__c</field>
            <value>
                <elementReference>varTotal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Projet__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_tasks_linked_to_projects</targetReference>
        </connector>
        <object>Tache__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Total des tâches en attente</description>
        <name>varEnAttente</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>projets en cours</description>
        <name>varEnCours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Tâches en retard</description>
        <name>varEnRetard</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Somme des tâches suspendu</description>
        <name>varSuspendues</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total des tâches annulées</description>
        <name>varTacheAnnulee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Tâches terminées</description>
        <name>varTerminees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total des tâches liées au projet</description>
        <name>varTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
